<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sbaitproject.mapper.contactMapper">
 
    <resultMap id="person" type="com.sbaitproject.roadwith.vo.Person" >
        <result property="id" column="id"/>
        <result property="email" column="email"/>
    </resultMap>
 
    <select id="getPersons" resultType="com.sbaitproject.roadwith.vo.Person">
        SELECT
        *
        FROM
        person
    </select>
 
    <select id="getPerson" parameterType="String" resultType="com.sbaitproject.roadwith.vo.Person">
        SELECT
        *
        FROM
        person
        WHERE
        id=#{id}
    </select>
 
    <insert id="savePerson" parameterType="com.sbaitproject.roadwith.vo.Person"> 
        INSERT INTO
        person(id, name)
        VALUES
        (#{id}, #{name})
    </insert>
    
    <update id="updatePerson" parameterType="com.sbaitproject.roadwith.vo.Person"> 
        UPDATE 
        person 
        SET
        name=#{name}
        WHERE
        id=#{id} 
    </update>
 
    <delete id="deletePerson" parameterType="Integer">
        DELETE FROM
        person
        WHERE
        id=#{id}
    </delete>
 
</mapper>