<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="signup">
    <select id="FindById" parameterType="String" resultType="int">
    	SELECT count(*)
    	FROM users
    	WHERE id = #{id}
    </select>
    
    <select id="FindByEmail" parameterType="String" resultType="int">
    	SELECT count(*)
    	FROM users
    	WHERE email = #{email}
    </select>
    
    <select id="FindIdByEmail" parameterType="String" resultType="String">
    	SELECT id
    	FROM users
    	WHERE email = #{userEmail}
    </select>
    
    <insert id="SignUpInsert" parameterType="com.sbaitproject.roadwith.vo.Person">
		INSERT INTO users 
		(users_num, name, id, nickname, pw, email, logTime )
		VALUES (users_num_seq.NEXTVAL -1, #{name}, #{id}, #{nickName}, #{pw}, #{email}, TO_DATE(#{logTime}, 'YYYY-MM-DD HH24:MI:SS'))
	</insert>
</mapper>